@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

[data-extension="chaosExtension"] {
    font-family: 'Roboto', sans-serif !important;
}

[data-extension="chaosExtension"] #effectContainer {
    display: none;
    position: fixed !important;
    top: 50% !important;
    right: 0px !important;
    transform: translateY(-50%) !important;
    border-radius: 5px !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    z-index: 10000000000000000000 !important;
}

[data-extension="chaosExtension"] #effectName {
    font-size: 25px !important;
    color: white !important;
    padding: 10px 15px !important;
}

/* Timer Bar */
[data-extension="chaosExtension"] #effectTimer {
    position: fixed !important;
    top: 0px !important;
    width: 100% !important;
    z-index: 10000000000000000000 !important;
}

[data-extension="chaosExtension"] #effectTimer * {
    height: 20px !important;
}

[data-extension="chaosExtension"] #timerBarContainer {
    position: relative !important;
    background-color: rgb(75, 75, 75) !important;
    text-align: center !important;
}

[data-extension="chaosExtension"] #timerBar {
    position: absolute !important;
    background-color: rgb(0, 160, 255) !important;
    left: 0px !important;
    width: 100%;
}

[data-extension="chaosExtension"] #timeRemaining {
    position: absolute !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 17px !important;
    z-index: 1 !important;
}

/* Effects Styles */
[data-extension="chaosExtension"]#disableOverlay,
[data-extension="chaosExtension"]#blurOverlay,
[data-extension="chaosExtension"]#bwOverlay {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1000000000 !important;
}

[data-extension="chaosExtension"]#blurOverlay,
[data-extension="chaosExtension"]#bwOverlay {
    pointer-events: none !important;
}

[data-extension="chaosExtension"]#blurOverlay {
    backdrop-filter: blur(2px) !important;
}

[data-extension="chaosExtension"]#bwOverlay {
    backdrop-filter: grayscale(100%) !important;
}
