@use "@scss/_font.scss" as *;
@use "@scss/_colors.scss" as *;
@use "@scss/_mixins.scss" as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: $theme-200;
}

::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 1000rem;
    cursor: pointer;

    &:hover {
        background-color: hsl(from $color-primary h s 40%);
    }

    &:active {
        background-color: hsl(from $color-primary h s 35%);
    }
}

body {
    background-color: $theme-100;
    color: $color-white;
    user-select: none;
    margin-bottom: 7rem;
}

.toggle-all {
    .effect-option-label {
        color: $color-primary;
    }
}

.effect-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .effect-option-label {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
    }
}

.bottom-bar {
    @include blur-background($theme-200);
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 1rem;

    .version-text {
        font-size: 1.25rem;
        font-weight: bold;
    }
}