@use "@scss/_colors.scss" as *;
@use "@scss/_mixins.scss" as *;

.timer {
    --timer-thickness: 25px;
    --time-remaining-size: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--timer-thickness);

    .timer-background,
    .timer-progress-bar,
    .time-remaining {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .timer-background {
        @include blur-background(var(--chaos-extension-ui-blur-color));
    }

    .timer-progress-bar {
        background-color: var(--chaos-extension-ui-progress-bar-color);
        transform-origin: left;
    }

    .time-remaining {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--chaos-extension-ui-text-color);
        font-weight: bold;
        font-size: var(--time-remaining-size);
    }
}