html[chaos-extension] {
    &.inverted-colors-effect {
        [chaos-extension-root] {
            filter: invert(100%) !important;
        }
    }

    [chaos-extension-overlay]#invertOverlay {
        backdrop-filter: invert(100%) !important;
    }
}