@use "@scss/_colors.scss" as *;
@use "@scss/_mixins.scss" as *;

[chaos-extension-root] {
    position: fixed !important;
    isolation: isolate !important;
    inset: 0 !important;
    z-index: 1000000000000000 !important;
    pointer-events: none !important;
}

[chaos-extension-ui] {
    pointer-events: all;

    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
        user-select: none;
        isolation: isolate;
    }

    .active-effects {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 15px;
        top: 50%;
        right: 25px;
        translate: 0 -50%;
        
        .effect {
            @include blur-background($theme-300);

            position: relative;
            color: $color-white;
            font-size: 35px;
            font-weight: 500;
            padding: 0.15em 0.25em;
            border-radius: 0.25em;
            text-align: center;
            overflow: hidden;

            .effect-progress-bar {
                position: absolute;
                background-color: $color-primary;
                width: 100%;
                height: 100%;
                inset: 0;
                scale: 0 1;
                transform-origin: left;
                z-index: -1;
            }
        }
    }
}

@keyframes progress-down {
    from { scale: 1 1 };
    to { scale: 0 1; }
}