// [data-effect-theme="y1950sEffect"] {
//     filter: grayscale(100%) sepia(15%) blur(0.66px) !important;
// }

html[chaos-extension] {
    [chaos-extension-overlay]#y1950sOverlay {
        backdrop-filter: grayscale(100%) sepia(15%) blur(0.66px) !important;
    }
}