@use "@scss/_colors.scss" as *;

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $theme-300;
    width: 2.5rem;
    border-radius: 0.5em;
    cursor: pointer;
    aspect-ratio: 1;
    transition: 
        background-color 200ms;

    svg {
        display: none;
        width: 100%;
        height: 100%;
    }

    &[data-indeterminate="true"],
    &[data-selected="true"] {
        background-color: $color-primary;

        svg {
            display: block;
        }
    }

    &[data-hovered="true"],
    &[data-focus-visible="true"] {
        background-color: hsl(from $color-primary h s 40%);
    }

    &[data-pressed="true"] {
        background-color: hsl(from $color-primary h s 35%);
    }
}