.active-effect {
    position: fixed !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
    padding: 10px 15px !important;
    border-radius: 1000px !important;
    font-size: 25px !important;
    font-weight: 500 !important;
}