[data-extension="chaosExtension"] {
    &.overlay {
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        width: 100vw !important;
        height: 100vh !important;
        z-index: 1000000000 !important;
    }

    &.no-pointer-events {
        pointer-events: none !important;
    }

    /* Blurry Vision */
    &#blurOverlay {
        backdrop-filter: blur(1.5px) !important;
    }

    /* 1950s */
    &#y1950sOverlay {
        backdrop-filter: grayscale(100%) sepia(15%) blur(0.66px) !important;
    }

    /* Inverted Colors */
    &#invertOverlay {
        backdrop-filter: invert(100%) !important;
    }

    /* Blackout */
    &#blackoutOverlay {
        backdrop-filter: brightness(13.66%) !important;
    }

    /* Vignette */
    &#vignetteOverlay {
        background-image: radial-gradient(circle, transparent 25%, rgba(0,0,0,1) 100%);
    }
}

html[data-extension="chaosExtension"] {
    /* Upside Down */
    &.upside-down-effect,
    &.upside-down-effect body {
        overflow: auto !important;
    }

    &.upside-down-effect body {
        position: fixed !important;
        transform: rotate(180deg) !important;
        bottom: 0px !important;
        width: 100% !important;
        height: 100% !important;
    }

    /* Disable Mouse Input */
    &.disable-mouse-input-effect * {
        cursor: not-allowed !important;
    }

    /* Disable Scrolling */
    &.disable-scrolling-effect,
    &.disable-scrolling-effect * {
        overflow: hidden !important;
    }

    /* Invisible Text */
    &.invisible-text-effect *,
    &.invisible-text-effect *::placeholder {
        color: transparent !important;
        text-shadow: none !important;
    }

    /* Half Size */
    &.half-size-effect body {
        transform: scale(0.5) translateY(-50%) !important;
    }

    /* Random Selection Color */
    &.random-selection-color-effect ::selection {
        background-color: var(--random-background-color) !important;
        color: var(--random-text-color) !important;
    }

    /* Terminalify */
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

    &.terminalify-effect ::selection {
        background-color: rgba(0, 255, 0, 0.75) !important;
        color: white !important;
    }

    &.terminalify-effect {
        *:not(html [data-extension="chaosExtension"] *, [data-extension="chaosExtension"]) {
            font-family: 'Roboto Mono', monospace !important;
            color: rgb(0, 255, 0) !important;
        }
    }

    &.terminalify-effect {
        *:not(html [data-extension="chaosExtension"] *, [data-extension="chaosExtension"]) {
            a {
                color: rgba(0, 255, 0, 0.5) !important;
            }
        }
    }

    /* Hide Images */
    &.hide-images-effect {
        img {
            opacity: 0 !important;
        }
    }

    /* Hide Scrollbars */
    &.hide-scrollbars-effect {
        ::-webkit-scrollbar {
            width: 0px !important;
        }
    }

    /* Hide Text Selection */
    &.hide-text-selection-effect {
        ::selection {
            background-color: transparent !important;
            color: currentColor !important;
        }
    }

    /* Random Text Color */
    &.random-text-color-effect {
        * {
            color: var(--random-text-color) !important;
        }
    }

    /* No Cursor */
    &.no-cursor-effect {
        * {
            cursor: none !important;
        }
    }

    /* Double Size */
    &.double-size-effect {
        body {
            transform: scale(2) translate(25%, 25%) !important;
            overflow-x: auto !important;
        }
    }

    /* Inverted Page */
    &.inverted-page-effect {
        body {
            transform: rotateY(180deg) !important;
        }
    }

    /* Sideways Page */
    &.sideways-page-effect,
    &.sideways-page-effect body {
        overflow: auto !important;
    }

    &.sideways-page-effect {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }

    &.sideways-page-effect {
        body {
            position: fixed !important;
            transform: rotate(-90deg) !important;
            width: 100vh !important;
            height: 100vw !important;
        }
    }

    /* Midas Touch */
    &.midas-touch-effect {
        .midas-touch-gold:not(html [data-extension="chaosExtension"] *, [data-extension="chaosExtension"]) {
            background-color: gold !important;
            color: white !important;
        }
    }

    /* Disable Text Selection */
    &.disable-text-selection-effect {
        * {
            user-select: none !important;
        }
    }

    /* Spinning Page */
    &.spinning-page-effect,
    &.spinning-page-effect body {
        overflow: auto !important;
    }

    &.spinning-page-effect {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
    }

    &.spinning-page-effect {
        body {
            animation: spinningPage 10s infinite linear !important;
        }
    }

    @keyframes spinningPage {
        0%, 50%, 100% {
            width: 100%;
            height: 100%;
        }
    
        25%, 75% {
            width: 100vh;
            height: 100vw;
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

    /* Roll */
    &.roll-effect {
        --perspective: 1000px;

        body {
            transform-origin: center !important;
            animation: roll 5s infinite linear !important;
        }
    }

    @keyframes roll {
        from {
            transform: perspective(var(--perspective)) rotateX(0deg);
        }
    
        to {
            transform: perspective(var(--perspective)) rotateX(360deg);
        }
    }

    /* Comic Sans */
    &.comic-sans-effect {
        * {
            font-family: "Comic Sans MS", cursive !important;
        }
    }

    /* Lowercase Text */
    &.lowercase-text-effect {
        * {
            text-transform: lowercase !important;
        }
    }

    /* Uppercase Text */
    &.uppercase-text-effect {
        * {
            text-transform: uppercase !important;
        }
    }

    /* Big Text */
    &.big-text-effect {
        * {
            font-size: 30px !important;
        }
    }

    /* Small Text */
    &.small-text-effect {
        * {
            font-size: 10px !important;
        }
    }
}