@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html[data-extension="chaosExtension"] {
    &.terminalify-effect ::selection {
        background-color: rgba(0, 255, 0, 0.75) !important;
        color: white !important;
    }
    
    &.terminalify-effect {
        *:not(html [data-extension="chaosExtension"] *, [data-extension="chaosExtension"]) {
            font-family: 'Roboto Mono', monospace !important;
            color: rgb(0, 255, 0) !important;
        }
    }
    
    &.terminalify-effect {
        *:not(html [data-extension="chaosExtension"] *, [data-extension="chaosExtension"]) {
            a {
                color: rgba(0, 255, 0, 0.5) !important;
            }
        }
    }
}