@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// [data-effect-theme="terminalifyEffect"] {
//     --font: 'Roboto Mono', monospace !important;
//     --primary-color: rgb(0, 255, 0) !important;
//     --text-color: white !important;
// }


html[chaos-extension] {
    &.terminalify-effect {
        font-family: 'Roboto Mono', monospace !important;

        ::selection {
            background-color: hsl(120 100% 50% / 0.5) !important;
            color: white !important;
        }

        *:not(a) {
            color: white !important;
        }

        a {
            color: hsl(120 100% 50% / 0.5) !important;
        }
    }
}